.tasks {
  .ant-menu-title-content {
    a {
      display: flex;
      justify-content: space-between;

      .count-wrapper {
        position: relative;
        top: 12px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: #ff5722;

        .count {
          position: absolute;
          top: -11px;
          left: 5px;
          color: #fff;
        }
      }
    }
  }
}
