.tasks {
  &__create {
    margin: 40px 0 0 40px;

    &-inner {
      margin-top: 50px;
      display: flex;
      flex-wrap: wrap;
      width: 300px;
      text-align: center;
      justify-content: center;

      .input-wrapper {
        position: relative;

        &::before {
          position: absolute;
          top: -4px;
          left: -4px;
          display: block;
          content: '';
          width: 246px;
          height: 35px;
          border: 4px solid #6364a7;
          border-radius: 13px;
        }

        input {
          position: relative;
          margin-bottom: 20px;

          background-color: transparent;

          &::before {
            content: 'Download';
            position: absolute;
            top: 0px;
            left: -1px;
            padding: 3px 13px;
            color: #000;
            background-color: #e0e7ff;
          }
        }

        .text {
          position: absolute;
          top: 2px;
          left: 92px;

          padding: 0px 16px;

          font-size: 15px;
          background-color: #fff;

          border-radius: 0 13px 13px 0;
        }
      }

      label {
        margin-bottom: 20px;

        textarea {
          width: 100%;
          resize: none;
        }
      }

      .checkboxes {
        .ant-radio-wrapper {
          .ant-radio-checked {
            &::after {
              border: 1px solid #6364a7;
            }
          }
        }

        .ant-radio-inner {
          border-color: #6364a7;

          &::after {
            background-color: #6364a7;
          }
        }
      }

      .buttons {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin-bottom: 20px;

        .btn {
          width: 100%;
          max-width: 100px;
          border: 3px solid #6364a7;
          border-radius: 13px;
          background-color: #e0e7ff;
        }
      }
    }

    table {
      padding-left: 20px;
      tr {
        border-right: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;

        &:first-child {
          border: 1px solid #d6d6d6;
        }

        &:last-child {
          border-bottom: 1px solid #d6d6d6;
        }

        td {
          padding: 15px;
          width: 300px;
        }
      }
    }
  }
}
