.comments {
  table {
    padding-left: 20px;
    tr {
      border-right: 1px solid #d6d6d6;
      border-left: 1px solid #d6d6d6;

      &:first-child {
        border: 1px solid #d6d6d6;
      }

      &:last-child {
        border-bottom: 1px solid #d6d6d6;
      }

      td {
        padding: 15px;
        width: 300px;
        text-align: center;
        border: 1px solid #d6d6d6;
      }
    }
  }
}
